# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Build
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/

# macOS
.DS_Store

# Logs
*.log

# =========================
# Runtime Data
# =========================
storage/state/
storage/state/*.json

logs/*
!logs/.gitkeep

outputs/*
!outputs/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/database/*
!data/database/.gitkeep

# Authentication
playwright/.auth/
.cgao/

# Local Config
.env
.env.*
config.local.py